<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>We’ve got a {{ code }} error!</title>
  <style>
    ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
    ::selection { background: #fe57a1; color: #fff; text-shadow: none; }
    html { padding: 30px 10px; font-size: 20px; line-height: 1.4; color: #737373; background: #f0f0f0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    body { max-width: 500px; _width: 500px; margin: 10% auto; }
    h1 { font-family: sans-serif; font-size: 4em; text-align: center; }
    h1 i[title] { font-size: 0.5em; }
    h1 span { color: #bbb; font-size: 0.3em; display:block; }
    h3 { margin: 1.5em 0 0.5em; }
    p { margin: 1em 0; }
    ul { padding: 0 0 0 40px; margin: 1em 0; }
    .container { margin: 0 auto; }
  </style>
</head>
<body>
  <div class="container">
    <h1>‎<i title="Emoticon of an angry guy throwing a table">(ﾉಥ益ಥ）ﾉ﻿ ┻━┻</i><span><strong>{{ code }}</strong> {{ message }}</span></h1>
  </div>
</body>
</html>
