## {{ virtual_host_name }} VirtualHost configuration

root       {{ virtual_host_docroot }};
set        $vhost_docroot "{{ virtual_host_docroot }}";

add_header X-Author "{{ virtual_host_author }}";

index     index.php index.html;

# Runtime parameters, at the end!
location ~ \.php$ {
  expires 1m;
  include {{ virtual_host_fcgi_handler }};
}

# vim: et ts=2 sw=2
