#!upstart

## Managed by Salt Stack

description "Prometheus {{ slug|default('')|capitalize }} Exporter"

start on (net-device-up
          and local-filesystems
          and runlevel [2345])

stop on runlevel [!2345]

respawn

setuid {{ uid }}
setgid {{ gid }}

script
  {{ command|replace('  ', '') }}
end script
